# This is an example of your .env file to use, rename file to .env to use

#Zoom OA Auth 2.0 Token Credentials
ZOOM_CLIENT_ID=your_zoom_client_id
ZOOM_CLIENT_SECRET=your_zoom_client_secret
ZOOM_ACCOUNT_ID=your_zoom_account_id

#Google Drive API Credentials
GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_SHARED_DRIVE_ID=your_google_shared_drive_id
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id

#Slack Webhook URL
SLACK_WEBHOOK_URL=your_slack_webhook_url

#Set DEBUG to true is you want to see the logs
DEBUG=false